<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.idea.bvmattendance">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".department"
            android:parentActivityName=".home_screen" />
        <activity
            android:name=".p_a_206"
            android:parentActivityName=".department" />
        <activity
            android:name=".p_a_207"
            android:parentActivityName=".department" />
        <activity
            android:name=".p_a_208"
            android:parentActivityName=".department" />
        <activity
            android:name=".p_a_209"
            android:parentActivityName=".department" />
        <activity
            android:name=".p_a_210"
            android:parentActivityName=".department" />
        <activity
            android:name=".p_a_ma203"
            android:parentActivityName=".department" />


    </application>

</manifest>